.mouse-position-info {
    position: fixed;
    top: min(5vh,35px);
    left: 50vw;
    width: 200px;
    transform: translate(-50%,0px);

    background: white;
    text-align: center; 
    padding: 5px 25px;
    border-radius: 50px; 

    font-size: 1.2em;
    font-family: monospace;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
}