html, body, #root, .app-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(33,33,33);
}
.app-container {
  overflow: auto;
}

.place-image-container {
  min-width: 100vw;
  min-height: 100vh;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}