.place-canvas {
    -ms-interpolation-mode: nearest neighbour;
    image-rendering: pixelated;
    margin: 25px;
}

.app-container {
    overflow: auto;
    scrollbar-width: 15px;
    scrollbar-color: transparent transparent;
}

.app-container:hover {
    scrollbar-color: gray transparent;  
}